
/* Base Styles */

html, body, .screen-content {
  height: 100%;
  overflow: hidden;
}

body {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

div.screen-content {
  position: relative;
}

aside.cover, section.content {
  float: left;
  top: 0;
  bottom: 0;
  position: absolute;
}

aside.cover:hover {
  background-color: blue;
  transition: background-color .5s;
  -webkit-transition: background-color .5s;
}

aside.cover {
  left: 0;
  width: 30%;
  max-width: 450px;
}

section.content {
  left: 30%;
  right: 0;
  overflow: auto;
}

section.content .inner-wrapper {
  padding: 50px 85px;
}

@media only screen and (max-width: 980px) {

  .screen-content {
    overflow: scroll;
  }

  aside.cover {
    height: 350px;
    width: 100%;
    max-width: none;
  }

  section.content {
    top: 350px;
    left: 0;
    overflow: visible;
  }

}

.hidden {
  display: none;
}
